<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">
            <br>
            <h1> Detalles del evento</h1>

        </div>
        <h5> Nombre: {{evento.name}} </h5>
        <br>
        <h5> Fecha: {{evento.date}} </h5>
        <br>
        <h5> Direccion: {{evento.address.street.streetName}} </h5>
        <br>
        <h5> Ciudad: {{evento.address.city}} </h5>
        <br>
        <img class='imagen evento' src="{{evento.image}}" alt="imagen del evento"></img>
        <h5> descripcion {{evento.description}} </h5>
        <h5> commentarios {{ evento.comments}} </h5>
        {{!-- {{if isOwn}} --}}


        <a href="/eventos/editar/{{_id}}" class="btn btn-danger">Editar</a>
        <form action="/eventos/{{_id}}/delete" method="POST">
            <button type="submit" class="btn btn-dark">Borrar lugar</button>
        </form>
    </div>
    <hr>

      <div class="mb-3">
     <label for="exampleFormControlInput1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
     </div>
     <div class="mb-3">
     <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
     </div>
     <form action="/eventos/{{_id}}/comments" method="POST">
            <button type="submit" class="btn btn-dark"> comentar </button>
        </form>

            <div> 
                <figure id="myMap">
                    </div>

                </figure>
                <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                <script src="/js/events-map.js">  </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"></script>