<h1>soy la lista</h1>
{{#each eventos}}
<h5> Nombre {{name}} </h5>
<h5> Fecha {{date}} </h5>
<h5> Direccion{{address.street.streetName}} </h5>
<h5> Ciudad {{address.city}} </h5>

<a href="/eventos/editar/{{_id}}" class="btn btn-outline-dark">Editar</a>
<form action="/eventos/{{_id}}/delete" method="POST">
  <button type="submit" class="btn btn-outline-danger">Borrar lugar</button>
</form>
<a href="/eventos/detalles/{{_id}}" class="btn btn-outline-dark">detalles</a>
</div>
<hr>
{{/each}}