<div class="container">

    <div class="row justify-content-center">

        <div class="col-md-6">
            <br>
            <h1> Detalles del evento</h1>

        </div>
        <h5> Nombre: {{evento.name}} </h5>
        <br>
        <h5> Fecha: {{evento.date}} </h5>
        <br>
        <h5> Direccion: {{evento.address.street.streetName}} </h5>
        <br>
        <h5> Ciudad: {{evento.address.city}} </h5>
        <br>
        <img class='imagen evento' src="{{evento.image}}" alt="imagen del evento"></img>
        <h5> descripcion {{evento.description}} </h5>
        <h5> commentarios {{ evento.comments}} </h5>
        {{!-- {{if isOwn}} --}}


        <a href="/eventos/editar/{{_id}}" class="btn btn-danger d-grid gap-2 col-6">Editar</a>
        <form action="/eventos/{{_id}}/delete" method="POST">
            <button type="submit" class="btn btn-dark d-grid gap-2 col-6">Borrar lugar</button>
        </form>

        <figure id="myMap"></figure>

    </div>
    <hr>


    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/js/events-map.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap"></script>